<head>
    <%= stylesheet_link_tag 'neworder' %>
</head>
<body>
  <div class="order-form-container">
    <h1>Editing profile</h1>

    <%= render "form", profile: @profile %>

    <br>

    <div>
      <%= link_to "Show this profile", @profile %>
    </div>
  </div>
</body>
