<p style="color: green"><%= notice %></p>

<h1>Profile</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%if profile.user_id == current_user.id%>
      <%= render profile %>
      <%= link_to "Edit your profile", edit_profile_path(profile) %>
    <% end %>
  <%end%>
</div>


