<p style="color: white"><%= notice %></p>


<head>
    <%= stylesheet_link_tag 'neworder' %>
</head>
<body>
  <div class="order-form-container">
    <%= render @profile %>

    <div>
      <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
    </div>
  </div>
</body>

