<div id="<%= dom_id register %>">
  <p>
    <strong>Username:</strong>
    <%= register.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= register.password %>
  </p>

  <p>
    <strong>Clientid:</strong>
    <%= register.clientID %>
  </p>

</div>
