<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'loginstyle' %>
</head>

    <body>
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h3>LOGIN</h3>
                        <p>Enter your credentials to login.</p>
                    </div>
                </div>
                <% render= "devise/sessions/new" %>
                
            </div>
        </div>
    </body>
</html>