<head>
    <%= stylesheet_link_tag 'neworder' %>
</head>

<div class="order-form-container">
  <h1>New order</h1>
  <body>
    <%= render "form", order: @order %>

    <br>

    <div>
      <%= link_to "Back to orders", orders_path %>
    </div>
  </body>
</div>
